<footer class="page-footer">
  <div class="page-footer__inner">
    <!-- / ========= logo ========= \ -->
    <div class="page-footer__logo logo">
      <a class="logo__link" href="index.html">
        <img class="logo__img" src="./img/logo-footer.svg" width="102" height="34"
             alt="Логотип магазина Мишка">
        <span class="logo__text visually-hidden">Mishka</span>
      </a>
    </div>
    <!-- \ ========= logo ========= / -->
    <!-- / ========= socials ========= \ -->
    <div class="page-footer__socials socials">
      <ul class="socials__list">
        <li class="socials__item socials__item--instagram">
          <a class="socials__link" href="http://instagram.com" target="_blank">
            <img class="socials__icon" src="./img/icon-insta.svg" width="22" height="21" alt="Instagram">
            <span class="socials__text visually-hidden">Мы в Инстаграме</span>
          </a>
        </li>
        <li class="socials__item socials__item--facebook">
          <a class="socials__link" href="http://facebook.com" target="_blank">
            <img class="socials__icon" src="./img/icon-fb.svg" width="15" height="28" alt="Facebook">
            <span class="socials__text visually-hidden">Мы в Фейсбуке</span>
          </a>
        </li>
        <li class="socials__item socials__item--twitter">
          <a class="socials__link" href="http://twitter.com" target="_blank">
            <img class="socials__icon" src="./img/icon-twitter.svg" width="23" height="20" alt="Twitter">
            <span class="socials__text visually-hidden">Мы в Твиттере</span>
          </a>
        </li>
      </ul>
    </div>
    <!-- \ ========= socials ========= / -->
    <!-- / ========= copyright ========= \ -->
    <div class="page-footer__copyright copyright">
      <a class="copyright__link" href="#">
        <span class="copyright__text">Разработано</span>
        <img class="copyright__img" src="./img/logo-htmlacademy.svg" width="27" height="34"
             alt="Логотип HTML Academy">
      </a>
    </div>
    <!-- \ ========= copyright ========= / -->
  </div>
</footer>
