<header class="page-header">
  <div class="page-header__inner">
    <!-- / ========= main-nav ========= \ -->
    <nav class="main-nav main-nav--nojs">
      <div class="main-nav__heading">
        <!-- / ========= burger ========= \ -->
        <button class="main-nav__toggle burger" type="button">
          <span></span>
          <b class="visually-hidden">Открыть меню</b>
        </button>
        <!-- \ ========= burger ========= / -->
        <!-- / ========= logo ========= \ -->
        <div class="main-nav__logo logo">
          <a class="logo__link" href="index.html">
            <picture>
              <source media="(min-width: 1150px)" srcset="./img/logo-desktop.svg">
              <source media="(min-width: 768px)" srcset="./img/logo-tablet.svg">
              <img class="logo__img" src="./img/logo-mobile.svg" width="86" height="35" alt="Логотип магазина Мишка">
            </picture>
            <span class="logo__text visually-hidden">Mishka</span>
          </a>
        </div>
        <!-- \ ========= logo ========= / -->
      </div>
      <!-- / ========= site-nav ========= \ -->
      <ul class="main-nav__site-list site-nav">
        <li class="site-nav__item">
          <a class="site-nav__link" href="catalog.html">Каталог товаров</a>
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link" href="form.html">Вязание на заказ</a>
        </li>
      </ul>
      <!-- \ ========= site-nav ========= / -->
      <!-- / ========= optional-nav ========= \ -->
      <ul class="main-nav__optional-list optional-nav">
        <li class="optional-nav__item optional-nav__item--search">
          <a class="optional-nav__link" href="#" aria-label="Поиск по сайту">
            <svg class="optional-nav__icon" width="18" height="18" aria-hidden="true" role="presentation">
              <use xlink:href="#icon-search"></use>
            </svg>
            <span class="optional-nav__text">Поиск по сайту</span>
          </a>
        </li>
        <li class="optional-nav__item optional-nav__item--cart">
          <a class="optional-nav__link" href="#" aria-label="Корзина">
            <svg class="optional-nav__icon" width="20" height="19" aria-hidden="true" role="presentation">
              <use xlink:href="#icon-cart"></use>
            </svg>
            <span class="optional-nav__text">Корзина: пока пуста</span>
          </a>
        </li>
      </ul>
      <!-- \ ========= optional-nav ========= / -->
      <!-- / ========= store-nav ========= \ -->
      <ul class="main-nav__store-list store-nav">
        <li class="store-nav__item">
          <a class="store-nav__link" href="#">Новые поступления</a>
        </li>
        <li class="store-nav__item">
          <a class="store-nav__link" href="#">Распродажа</a>
        </li>
      </ul>
      <!-- \ ========= store-nav ========= / -->
      <div class="main-nav__delivery">Бесплатная доставка по России</div>
    </nav>
    <!-- \ ========= main-nav ========= / -->
  </div>
</header>
