<div class="modal-overlay modal-overlay--hidden">
  <div class="modal-cart">
    <div class="modal-cart__inner">
      <form class="modal-cart__form" action="#" method="post">
        <b class="modal-cart__caption">Добавить в корзину</b>
        <fieldset class="modal-cart__fieldset">
          <legend class="modal-cart__legend">Выберите размер:</legend>
          <div class="modal-cart__field-list">
            <div class="modal-cart__field">
              <input class="modal-cart__radio visually-hidden" name="size" id="size-s" type="radio" value="s" checked>
              <label class="modal-cart__label" for="size-s">S</label>
            </div>
            <div class="modal-cart__field">
              <input class="modal-cart__radio visually-hidden" name="size" id="size-m" type="radio" value="m">
              <label class="modal-cart__label" for="size-m">M</label>
            </div>
            <div class="modal-cart__field">
              <input class="modal-cart__radio visually-hidden" name="size" id="size-l" type="radio" value="l">
              <label class="modal-cart__label" for="size-l">L</label>
            </div>
          </div>
        </fieldset>
        <div class="modal-cart__button-wrapper">
          <button class="modal-cart__button button" type="submit">Добавить</button>
        </div>
      </form>
    </div>
  </div>
</div>
