/* advantages
============================== */
.advantages {
  padding: 30px 0;

  @include md {
    padding-top: 60px;
    padding-bottom: 15px;
  }

  @include xl {
    padding-top: 70px;
    padding-bottom: 20px;
  }
}

.advantages__inner {
  @include container(xs);

  @include md {
    @include container(md);
  }

  @include xl {
    @include container(xl);
    padding-left: 225px;
    padding-right: 225px;
  }
}

.advantages__title {
  margin-bottom: 30px;

  @include md {
    margin-bottom: 50px;
  }
}

.advantages__list {
  @include reset-list;

  @include md {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 500px;
  }
}

.advantages__item {
  margin-bottom: 35px;

  @include md {
    width: 50%;
    margin-bottom: 65px;
  }

  @include xl {
    width: 30%;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.advantages__icon {
  @include img();
}

.advantages__text {
  @include inline-block();

  width: 260px;
  padding-top: 19px;

  font-weight: 700;
  font-size: 17px;
  line-height: 1.1764705882;
  color: $text-color-dark;

  @include md {
    width: 300px;

    font-size: 20px;
    line-height: 1.1;
  }
}
