/* catalog
============================== */
.catalog {
  padding-top: 30px;
}

.catalog__inner {
  @include container(xs);

  @include md {
    @include container(md);
  }

  @include xl {
    @include container(xl);
  }
}

.catalog__list {
  @include reset-list;

  @include xl {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
