/* catalog
============================== */
.catalog {
  padding-top: 30px;

  @include md {
    padding-top: 80px;
  }

  @include xl {
    padding-top: 130px;
  }
}

.catalog__inner {
  @include container(xs);

  @include md {
    @include container(md);

    overflow: hidden; /* IE11 fix */
  }

  @include xl {
    @include container(xl);
  }
}

.catalog__list {
  @include reset-list;

  @include xl {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.catalog__item {
  margin-bottom: 30px;

  @include md {
    display: flex;
    justify-content: space-between;
    margin-bottom: 53px;
  }

  @include xl {
    flex-direction: column;
    width: 30%;
    margin-bottom: 55px;
  }
}
