/* contacts
============================== */
.contacts {
  padding: 40px 0;
}

.contacts__title {
  @include container(xs);
  @include md {
    width: initial;

    font-size: 43px;
    line-height: 1.1627906977;
  }
  @include xl {
    font-size: 53px;
    line-height: 1.0754716981;
  }

  margin-bottom: 14px;

  font-weight: 700;
  font-size: 18px;
  line-height: 1.6666666667;
}

.contacts__list {
  @include container(xs);
  display: block;
  margin-bottom: 25px;

  border-collapse: collapse;
}

.contacts__data {
  padding: 10px 0;

  font-weight: 400;
  font-size: 15px;
  line-height: 2;
  vertical-align: top;
  color: $text-color;

  &--type,
  &--value {
    padding-top: 14px;
    padding-bottom: 14px;
  }

  &--type {
    width: 30%;
  }

  &--value {
    width: 70%;
  }
}

.contacts__link {
  position: relative;

  color: $text-color;
  text-decoration: none;

  transition: color $transition-time;

  &:hover,
  &:focus {
    color: $dark-teal;

    outline: none;
  }

  &:active {
    color: rgba($dark-teal, 0.3);

    &::after {
      background-color: rgba($dark-teal, 0.3);
    }
  }

  &::after {
    @include pseudo();

    bottom: -2px;

    width: 100%;
    height: 1px;

    background-color: $dark-teal;

    transition: background-color $transition-time;
  }
}

.contacts__map {
  width: 100%;
  margin-bottom: 38px;
}

.contacts__img {
  @include img();

  margin: 0 auto;
}

.contacts__button-wrapper {
  max-width: 260px;
  margin: 0 auto;
}
