/* copyright
============================== */
.copyright__link {
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: $link-color;
  text-decoration: none;

  &:active {
    color: $link-color--active;
  }
}

.copyright__text {
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
}
