/* copyright
============================== */
.copyright__link {
  @include md {
    justify-content: flex-end;
  }
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: $link-color;
  text-decoration: none;

  &:active {
    color: $link-color--active;
  }
}

.copyright__text {
  @include md {
    padding-right: 30px;
  }
  @include inline-block();
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
}
