/* main-nav
============================== */
.main-nav {
  @include md {
    display: flex;
  }

  &::after {
    @include pseudo();

    right: 0;
    left: 0;

    height: 1px;

    background-color: $border-color;
  }
}

.main-nav__heading {
  position: relative;
}

.main-nav__toggle {
  @include md {
    display: none;
  }

  @include absol-center(false, true);
  right: 0;
}

.main-nav__delivery {
  @include md {
    display: block;
  }

  display: none;
}
