/* main-nav
============================== */
.main-nav {
  @include md {
    position: relative;

    display: flex;
    justify-content: space-between;
  }

  &::after {
    @include pseudo();
    @include md {
      display: none;
    }

    right: 0;
    left: 0;
    height: 1px;
    min-width: 320px;

    background-color: $border-color;
  }

  &--nojs {
    .main-nav__toggle {
      display: none;
    }
    .main-nav__site-list,
    .main-nav__optional-list{
      @include md {
        display: flex;
      }
      display: block;
    }
  }
}

.main-nav__heading {
  @include xl {
    order: 2;
  }

  position: relative;
}

.main-nav__toggle {
  @include md {
    display: none;
  }
  @include absol-center(false, true);

  right: -10px;
}

.main-nav__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80px;
}

.main-nav__site-list {
  @include md {
    position: absolute;
    bottom: -50px;
    left: 0;

    display: flex;
  }
  @include xl {
    position: static;
    bottom: initial;
    left: initial;

    order: 1;
  }
  display: none;
}

.main-nav__optional-list {
  @include md {
    display: flex;
    align-items: center;
  }
  @include xl {
    order: 3;
  }
  display: none;
}

.main-nav__delivery {
  @include md {
    position: absolute;
    right: 0;
    bottom: -50px;

    display: block;
  }

  display: none;
}
