/* optional-nav
============================== */
.optional-nav {
  @include clear-list;
}

.optional-nav__link {
  font-weight: 700;
  font-size: 17px;
  color: $link-color;
  text-decoration: none;
}
