/* order-form
============================== */
.order-form {
  padding-bottom: 40px;

  background-color: $white;
}

.order-form__fieldset {
  @include container(xs);
  @include md {
    @include container(md);
  }
  @include xl {
    @include container(xl);
  }

  padding-top: 10px;
  padding-bottom: 10px;

  border: none;
}

.order-form__legend {
  position: relative;

  width: 100%;

  font-weight: 700;
  font-size: 17px;
  color: $light-teal;
  text-transform: uppercase;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;

    display: block;
    width: 200px;
    height: 1px;

    background-color: $light-teal;
    transform: translateY(-50%);
  }
}

.order-form__field {
  position: relative;

  margin-bottom: 15px;
}

.order-form__label {
  &--type,
  &--color {
    position: relative;

    display: flex;
    align-items: center;
    min-height: 40px;
    margin-bottom: 20px;
    padding-left: 65px;

    font-weight: 700;
    font-size: 17px;
    line-height: 1.0588235294;
    color: $text-color-dark;

    cursor: pointer;

    user-select: none;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;

      width: 38px;
      height: 38px;

      border: 2px solid $text-color-dark;
      transform: translateY(-50%);

      transition: border-color $transition-time;
    }

    &::after {
      content: "";
      position: absolute;
    }

    &:hover {
      &::before {
        border-color: $light-teal;
      }
    }

    &:active {
      &::before {
        border-color: rgba($text-color-dark, 0.3);
      }
    }
  }

  &--type {
    &::before {
      border-radius: 50%;
    }

    &::after {
      top: 50%;
      left: 12px;

      display: none;
      width: 15px;
      height: 15px;

      background-color: $light-teal;
      border-radius: 50%;
      transform: translateY(-50%);
    }
  }

  &--color {
    &::after {
      top: 13px;
      left: 10px;

      display: none;
      width: 20px;
      height: 10px;

      background-color: transparent;
      border-bottom: 2px solid $text-color-dark;
      border-left: 2px solid $text-color-dark;
      transform: rotate(-45deg);
    }
  }

  &--name {
    font-weight: 700;
    font-size: 17px;
    color: $text-color-dark;
  }

  &--phone,
  &--email {
    .order-form__icon {
      position: absolute;
      top: 50%;
      right: 0;

      transform: translate(-10px, -50%);
    }
  }
}

.order-form__input {
  &:checked + .order-form__label {
    &--type,
    &--color {
      &::after {
        display: block;
      }
    }
  }

  &:focus + .order-form__label {
    &--type,
    &--color {
      &::before {
        border-color: $light-teal;
      }
    }
  }

  &--name,
  &--phone,
  &--email {
    width: 100%;
    padding: 15px;

    font-size: 17px;
    color: $text-color;

    border: none;
    border-bottom: 2px solid $text-color-dark;

    transition: border-color $transition-time;

    &::placeholder {
      color: rgba($text-color, 0.3);
    }

    &:hover,
    &:focus {
      border-color: $light-teal;
      outline: none;
    }
  }

  &--name {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &--phone,
  &--email {
    padding-right: 40px;
  }
}

.order-form__message {
  width: 100%;
  min-height: 140px;
  padding: 15px;

  font-size: 17px;
  color: $text-color;

  border: 2px solid $text-color-dark;

  transition: border-color $transition-time;

  resize: none;

  &::placeholder {
    color: rgba($text-color, 0.3);
  }

  &:hover,
  &:focus {
    border-color: $light-teal;
    outline: none;
  }
}

.order-form__notification {
  margin-bottom: 25px;

  font-size: 14px;
  line-height: 1.1428571429;
}

.order-form__button {
  width: 100%;
}
