/* order-form
============================== */
.order-form {
  background-color: $white;
}

.order-form__fieldset-wrapper {
  padding-top: 15px;
  padding-bottom: 15px;

  border: none;

  @include md {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &--type {
    padding-top: 5px;

    @include md {
      padding-top: 32px;
    }
  }

  &--color,
  &--phone,
  &--email {
    @include md {
      background-color: $light-grey;
    }
  }

  &--color {
    @include md {
      padding-bottom: 25px;
    }

    .order-form__fieldset {
      @include xl {
        padding-right: 155px;
      }
    }
  }

  &--phone,
  &--email {
    .order-form__legend {
      margin-bottom: 0;

      @include md {
        align-self: center;
      }
    }
  }

  &--phone {
    @include md {
      padding-top: 45px;
      padding-bottom: 15px;
    }
  }

  &--email {
    @include md {
      padding-top: 15px;
      padding-bottom: 45px;
    }
  }

  &--message {
    padding-bottom: 17px;

    @include md {
      margin-bottom: 55px;
      padding-bottom: 0;
    }

    @include xl {
      margin-bottom: 50px;
    }
  }
}

.order-form__fieldset {
  @include container(xs);
  @extend %clearfix;

  padding-top: 0;
  padding-bottom: 0;

  border: none;

  @include md {
    @include container(md);
  }

  @include xl {
    @include container(xl);

    padding-right: 225px;
    padding-left: 115px;
  }
}

.order-form__legend {
  position: relative;

  width: 100%;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 17px;
  color: $light-teal;
  text-transform: uppercase;
  word-break: break-all;

  @include md {
    float: left;
    width: 25%;
    margin-bottom: 0;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
  }

  @include xl {
    width: 14%;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;

    display: block;
    width: 200px;
    height: 1px;

    background-color: $light-teal;
    transform: translateY(-50%);

    @include md {
      display: none;
    }
  }
}

.order-form__field-list {
  @include md {
    float: left;
    width: 75%;
  }

  @include xl {
    width: 86%;
  }

  /* Flex IE11 fix */
  &--type,
  &--color {
    .order-form__field {
      display: flex;
      flex-direction: column;
    }
  }

  &--color {
    @include md {
      display: flex;
      flex-wrap: wrap;
    }

    .order-form__field {
      @include md {
        width: 50%;
      }

      @include xl {
        width: 33.333%;
      }
    }
  }

  &--name {
    .order-form__field {
      @include md {
        display: flex;
        align-items: center;
        margin-bottom: 25px;
      }
    }
  }
}

.order-form__field {
  position: relative;

  margin-bottom: 20px;

  @include md {
    margin-bottom: 25px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.order-form__label {
  font-weight: 700;
  font-size: 17px;
  line-height: 1.0588235294;
  color: $text-color-dark;

  transition: fill $transition-time;

  &--type,
  &--color {
    position: relative;

    display: flex;
    align-items: center;
    min-height: 40px;
    padding-left: 65px;

    cursor: pointer;

    user-select: none;

    @include md {
      min-height: 52px;
      padding-left: 80px;

      word-break: break-all;
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;

      width: 38px;
      height: 38px;

      border: 2px solid $text-color-dark;
      transform: translateY(-50%);

      transition: border-color $transition-time;

      @include md {
        width: 52px;
        height: 52px;
      }
    }

    &::after {
      content: "";
      position: absolute;
    }

    &:hover {
      &::before {
        border-color: $light-teal;
      }
    }

    &:active {
      &::before {
        border-color: rgba($text-color-dark, 0.3);
      }
    }
  }

  &--type {
    @include md {
      width: 350px;
    }

    &::before {
      border-radius: 50%;
    }

    &::after {
      top: 50%;
      left: 12px;

      display: none;
      width: 15px;
      height: 15px;

      background-color: $light-teal;
      border-radius: 50%;
      transform: translateY(-50%);

      @include md {
        left: 15px;

        width: 22px;
        height: 22px;
      }
    }
  }

  &--color {
    &::after {
      top: 7px;
      left: 10px;

      display: none;
      width: 20px;
      height: 10px;

      background-color: transparent;
      border-color: transparent;
      border-bottom: 2px solid $text-color-dark;
      border-left: 2px solid $text-color-dark;
      transform: rotate(-45deg);

      @include md {
        left: 10px;

        width: 30px;
        height: 20px;
      }
    }
  }

  &--name {
    display: block;
    padding-top: 2px;

    @include md {
      margin-right: 30px;
    }
  }

  &--phone,
  &--email {
    position: absolute;
    top: 50%;
    right: -5px;

    width: 32px;
    height: 32px;

    transform: translate(-10px, -50%);

    .order-form__icon {
      @include absol-center();
    }
  }
}

.order-form__input {
  &:checked + .order-form__label {
    &--type,
    &--color {
      &::after {
        display: block;
      }
    }
  }

  &:focus + .order-form__label {
    &--type,
    &--color {
      &::before {
        border-color: $light-teal;
      }
    }
  }

  &--name,
  &--phone,
  &--email {
    width: 100%;
    padding: 15px 0;

    font-size: 17px;
    color: $text-color;

    border: none;
    border-bottom: 2px solid $text-color-dark;
    border-radius: 0;

    transition: border-color $transition-time;

    @include md {
      padding-right: 15px;
      padding-left: 15px;
    }

    &::placeholder {
      color: rgba($text-color, 0.3);
    }

    &:hover,
    &:focus {
      border-color: $light-teal;
      outline: none;
    }
  }

  &--phone,
  &--email {
    padding-right: 40px;

    @include md {
      background-color: $light-grey;
    }

    &:hover + .order-form__label,
    &:focus + .order-form__label {
      fill: $light-teal;
    }
  }

  &--error {
    border-color: $light-red;

    &:hover,
    &:focus {
      border-color: $light-red;

      & + .order-form__label,
      & + .order-form__label {
        fill: $light-red;
      }
    }

    & + .order-form__label,
    & + .order-form__label {
      fill: $light-red;
    }
  }
}

.order-form__message {
  display: block;
  width: 100%;
  min-height: 140px;
  padding: 15px;

  font-size: 17px;
  line-height: 1.0588235294;
  color: $text-color;

  border: 2px solid $text-color-dark;
  border-radius: 0;

  transition: border-color $transition-time;

  resize: none;

  @include md {
    font-size: 19px;
  }

  &::placeholder {
    color: rgba($text-color, 0.3);
  }

  &:hover,
  &:focus {
    border-color: $light-teal;
    outline: none;
  }
}

.order-form__bottom {
  @include container(xs);

  @include md {
    @include container(md);

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  @include xl {
    @include container(xl);

    padding-right: 225px;
    padding-left: 225px;
  }
}

.order-form__notification {
  margin-bottom: 31px;

  font-size: 14px;
  line-height: 1.1428571429;

  @include md {
    margin-bottom: 0;
    margin-left: 15px;

    font-size: 17px;
    line-height: 1.7647058824;
    word-break: break-all;
  }

  &--error {
    color: $light-red;
  }
}

.order-form__button {
  width: 100%;

  cursor: pointer;

  @include md {
    width: 230px;
    min-width: 230px;
  }
}
