/* page-footer
============================== */
.page-footer {
  padding-top: 23px;
  padding-bottom: 23px;

  background-color: $light-grey;

  @include md {
    padding-top: 55px;
    padding-bottom: 55px;
  }
}

.page-footer__inner {
  @include container(xs);

  @include md {
    @include container(md);

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @include xl {
    @include container(xl);
  }
}

.page-footer__logo {
  display: none;

  @include md {
    display: block;
    width: 30%;
  }

  .logo__link {
    transition: fill $transition-time;

    fill: $icon-color;

    &:hover,
    &:focus {
      outline: none;

      fill: $dark-teal;
    }

    &:active {
      fill: rgba($dark-teal, 0.3);
    }
  }

  .logo__img {
    width: 102px;
  }
}

.page-footer__socials {
  max-width: 140px;
  margin: 0 auto;
  padding: 0 0 23px;

  @include md {
    width: 30%;
    padding: 0;
  }
}

.page-footer__copyright {
  padding: 20px 40px 0;

  border-top: 1px solid $border-color;

  @include md {
    width: 30%;
    padding: 0;

    border-top: none;
  }
}
