/* page-main
============================== */
.page-main {
  flex-grow: 1;
  padding-bottom: 40px;

  @include md {
    padding-bottom: 60px;
  }

  @include xl {
    padding-bottom: 100px;
  }

  &--form {
    padding-bottom: 55px;

    @include md {
      padding-bottom: 50px;
    }
  }

  &--catalog {
    padding-bottom: 55px;

    @include md {
      padding-bottom: 65px;
    }

    @include xl {
      padding-bottom: 105px;
    }
  }
}

.page-main__heading {
  padding-top: 73px;
  padding-bottom: 73px;

  background-color: $light-grey;

  @include md {
    @include wavy-border-white;

    position: relative;

    padding-top: 95px;
    padding-bottom: 80px;
  }

  @include xl {
    padding-bottom: 100px;
  }
}

.page-main__title {
  @include container(xs);

  font-size: 27px;
  line-height: 1.1111111111;
  text-align: center;

  @include md {
    @include container(md);

    max-width: 650px;

    font-size: 43px;
    line-height: 1.1627906977;
  }

  @include xl {
    @include container(xl);

    max-width: 768px;

    font-size: 53px;
    line-height: 1.0754716981;
  }
}

.page-main__lead {
  @include container(xs);

  padding-top: 22px;

  @include md {
    @include container(md);

    padding-top: 72px;
    padding-bottom: 15px;
  }

  @include xl {
    @include container(xl);

    padding-top: 125px;
    padding-right: 205px;
    padding-left: 225px;
  }

  p {
    margin-top: 0;
    margin-bottom: 10px;

    font-size: 13px;
    line-height: 1.8461538462;

    @include md {
      font-size: 17px;
      line-height: 1.7647058824;
    }
  }
}
