/* page-main
============================== */
.page-main__heading {
  background-color: $light-grey;
}

.page-main__title {
  @include container(xs);

  padding-top: 75px;
  padding-bottom: 75px;

  text-align: center;

  @include md {
    @include container(md);

    padding-top: 105px;
    padding-bottom: 105px;
  }

  @include xl {
    @include container(xl);
  }
}

.page-main__lead {
  @include container(xs);

  padding-top: 25px;
  padding-bottom: 25px;

  @include md {
    @include container(md);

    padding-top: 80px;
    padding-bottom: 50px;
  }

  @include xl {
    @include container(xl);
  }

  p {
    font-size: 13px;
    line-height: 1.8461538462;
  }
}
