/* page-footer
============================== */
.page-footer {
  background-color: $light-grey;
}

.page-footer__inner {
  @include container(xs);
  @include md {
    @include container(md);

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  @include xl {
    @include container(xl);
  }

  padding-top: 20px;
  padding-bottom: 20px;
}

.page-footer__logo {
  @include md {
    display: block;
    width: 30%;
  }

  display: none;
}

.page-footer__socials {
  @include md {
    width: 30%;
    padding: 0;
  }

  max-width: 140px;
  margin: 0 auto;
  padding: 0 0 20px;
}

.page-footer__copyright {
  @include md {
    width: 30%;
    padding: 0;

    border-top: none;
  }

  padding: 20px 40px 0;

  border-top: 1px solid $border-color;
}
