/* product
============================== */
.product {
  &:hover,
  &:focus {
    outline: none;
    box-shadow: 0 6px 10px rgba(#000, 0.1);
  }
}

.product__picture,
.product__info {
  @include md {
    width: 50%;
  }

  @include xl {
    width: auto;
  }
}

.product__picture {
  overflow: hidden;
  background-color: $light-grey;
}

.product__picture-link {
  display: block;
}

.product__image {
  @include img(100%);
  min-height: 195px;

  @include md {
    min-height: 334px;
  }

  @include xl {
    min-height: 462px;
  }
}

.product__info {
  padding: 25px 25px 15px;

  border: 1px solid $border-color;

  @include md {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
  }
}

.product__description {
  margin-bottom: 23px;

  @include xl {
    margin-bottom: 15px;
  }
}

.product__title {
  margin-top: 0;
  margin-bottom: 12px;

  @include md {
    margin-bottom: 10px;
  }
}

.product__link {
  display: block;

  font-weight: 700;
  font-size: 17px;
  line-height: 1.4117647059;
  color: $link-color;
  text-decoration: none;

  transition: color $transition-time;

  @include md {
    font-size: 20px;
    line-height: 1.2;
  }

  &:hover,
  &:focus {
    color: $link-color--hover;

    outline: none;
  }

  &:active {
    color: $link-color--active;
  }
}

.product__specification {
  font-size: 13px;
  color: $text-color;

  @include md {
    font-size: 15px;
  }
}

.product__purchase {
  display: flex;
  justify-content: space-between;
  padding-top: 12px;

  border-top: 1px solid $border-color;

  @include md {
    padding-right: 5px;
    padding-left: 5px;
  }

  @include xl {
    padding-left: 0;
  }
}

.product__price {
  padding-top: 10px;

  font-weight: 700;
  font-size: 15px;
  color: $text-color-dark;
  word-break: break-all;

  @include md {
    font-size: 17px;
  }
}

.product__order-button {
  margin-right: -20px;
  padding: 10px 20px 10px 20px;

  transition: fill $transition-time;

  fill: rgba($black, 0.2);

  &:hover,
  &:focus {
    outline: none;

    fill: $light-teal;
  }

  &:active {
    fill: rgba($light-teal, 0.3);
  }
}
