/* production
============================== */
.production {
  margin-bottom: 60px;

  @include xl {
    margin-bottom: 105px;
  }
}

.production__inner {
  @include container(xs);

  @include md {
    @include container(md);
  }

  @include xl {
    @include container(xl);
  }
}

.production__content {
  border: 1px solid $border-color;

  @include md {
    display: flex;
    flex-direction: column;
  }

  @include xl {
    position: relative;

    min-height: 455px;
  }

  &:hover,
  &:focus {
    outline: none;
    box-shadow: 0 6px 10px rgba(#000, 0.1);
  }
}

.production__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 39px 25px 33px;

  @include md {
    justify-content: flex-start;
    order: 2;
    padding: 32px 40px 0 40px;

    border-top: 1px solid $border-color;
  }

  @include xl {
    display: block;
    margin-left: 683px;
    padding-top: 40px;
    padding-right: 57px;
    padding-left: 77px;

    border-top: none;
  }

  &::before {
    content: "";

    display: block;
    width: 32px;
    height: 32px;

    background-image: url(../img/icon-video.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

.production__title {
  max-width: 130px;
  margin: 0;

  font-weight: 700;
  font-size: 17px;
  line-height: 1.4117647059;
  color: $text-color-dark;

  @include md {
    max-width: initial;
    padding-left: 35px;

    font-size: 20px;
    line-height: 1.2;
  }

  @include xl {
    max-width: 160px;
    padding-top: 20px;
    padding-left: 0;
  }
}

.production__video {
  position: relative;

  @include md {
    order: 1;
  }

  @include xl {
    position: absolute;
    top: 0;
    left: 0;

    width: 683px;
  }
}

.production__image {
  @include img(100%);

  @include md {
    min-height: 455px;
  }
}

.production__play-button {
  @include absol-center();

  display: block;
}

.production__bottom {
  padding: 25px 33px 32px 33px;

  @include md {
    order: 3;
    padding: 30px 40px 45px 40px;
  }

  @include xl {
    margin-left: 683px;
    padding-right: 57px;
    padding-left: 77px;
  }
}

.production__description {
  margin-bottom: 25px;

  font-size: 13px;
  line-height: 1.8461538462;
  color: $text-color;

  @include md {
    margin-bottom: 40px;

    font-size: 15px;
    line-height: 2;
  }

  @include xl {
    margin-bottom: 55px;
  }

  p {
    margin: 0 0 10px 0;
  }
}
