/* reviews
============================== */
.reviews {
  @include wavy-border-grey;

  position: relative;

  padding: 30px 0 45px;

  @include md {
    padding-top: 0;
    padding-bottom: 75px;
  }
}

.reviews__inner {
  @include container(xs);

  @include md {
    @include container(md);

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 75px;
    padding-bottom: 15px;

    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;

    @include retina {
      background-image: url("../img/review@2x.jpg");
      background-size: 350px auto;
    }
  }

  @include xl {
    @include container(xl);

    padding-bottom: 65px;

    background-position: $padding-xl 0;
  }
}

.reviews__title {
  margin-bottom: 22px;

  @include md {
    flex-basis: 450px;
    order: 1;
    margin-bottom: 50px;
  }

  @include xl {
    padding-left: 175px;
  }
}

.reviews__list {
  @include md {
    position: relative;

    order: 3;
  }

  @include xl {
    padding-left: 175px;
  }
}

.reviews__item {
  margin: 0 0 30px 0;

  @include md {
    position: relative;
  }

  p {
    margin-top: 0;
    margin-bottom: 10px;

    font-weight: 400;
    font-size: 15px;
    line-height: 2;
    color: $text-color;

    @include md {
      font-size: 17px;
      line-height: 1.7647058824;
    }
  }
}

.reviews__author {
  padding-top: 18px;

  @include md {
    padding-top: 48px;
  }

  @include xl {
    padding-top: 28px;
  }
}

.reviews__author-name {
  display: block;

  font-weight: 700;
  font-size: 17px;
  line-height: 1.4117647059;
  color: $text-color;
  font-style: normal;

  @include md {
    margin-bottom: 5px;
  }
}

.reviews__author-profile {
  display: block;

  font-weight: 400;
  font-size: 17px;
  line-height: 1.7647058824;
  color: $text-color;
}

.reviews__navigation {
  display: flex;
  margin-bottom: 38px;

  @include md {
    position: absolute;
    right: 0;
    bottom: 0;

    margin-bottom: 35px;
  }
}

.reviews__arrow {
  width: 50%;
  height: 52px;
  padding: 10px;

  background-color: transparent;
  border: 1px solid $border-color;
  cursor: pointer;

  @include md {
    width: auto;
    padding-right: 20px;
    padding-left: 20px;

    border: none;
  }

  &--prev {
    border-right: none;
  }

  &:hover,
  &:focus {
    outline: none;

    .reviews__icon {
      fill: rgba($black, 0.6);
    }
  }

  &:active {
    .reviews__icon {
      fill: rgba($black, 0.3);
    }
  }
}

.reviews__icon {
  @include inline-block(middle);

  fill: $black;
}

.reviews__write-button {
  @include md {
    flex-basis: 176px;
    order: 2;
  }

  @include xl {
    margin-top: 8px;
  }
}
