/* site-nav
============================== */
.site-nav {
  @include reset-list;
}

.site-nav__item {
  @include md {
    margin-left: 35px;
  }

  @include xl {
    display: flex;
    align-items: center;

    border-left: 1px solid $border-color;
  }

  &:first-child {
    @include md {
      margin-left: 0;
    }

    @include xl {
      border-left: none;
    }

    .site-nav__link {
      @include md {
        padding-left: 0;
      }
    }
  }

  &::before {
    @include pseudo();

    right: 0;
    left: 0;

    min-width: 320px;
    height: 1px;

    background-color: $border-color;

    @include md {
      display: none;
    }
  }
}

.site-nav__link {
  display: flex;
  align-items: center;
  min-height: 80px;
  padding-left: 45px;

  font-weight: 700;
  font-size: 17px;
  line-height: 1.4117647059;
  color: $link-color;
  text-decoration: none;

  transition: color $transition-time;

  @include md {
    min-height: auto;
    padding-left: 0;

    font-size: $fs-base;
    line-height: $lh-base;
  }

  @include xl {
    min-height: 80px;
    padding-left: 35px;

    font-size: 17px;
    line-height: 1.4117647059;
  }

  &:hover,
  &:focus {
    color: $link-color--hover;

    outline: none;
  }

  &:active {
    color: $link-color--active;
  }
}
