/* socials
============================== */
.socials__list {
  @include reset-list;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.socials__link {
  transition: fill $transition-time;

  fill: $icon-color;

  &:hover,
  &:focus {
    outline: none;

    fill: $dark-teal;
  }

  &:active {
    fill: rgba($dark-teal, 0.3);
  }
}
