/* store-nav
============================== */
.store-nav {
  @include clear-list;

  display: none;

  @include xl {
    position: absolute;
    display: flex;
    left: 0;
    bottom: -50px;
  }
}

.store-nav__item {
  @include xl {
    margin-left: 35px;
  }

  &:first-child {
    @include xl {
      margin-left: 0;
    }
  }
}

.store-nav__link {
  font-weight: 700;
  font-size: 15px;
  color: $link-color;
  text-decoration: none;

  transition: color $transition-time;

  &:hover,
  &:focus {
    outline: none;
    color: $link-color--hover;
  }

  &:active {
    color: $link-color--active;
  }
}
