/* store-nav
============================== */
.store-nav {
  @include reset-list;
}

.store-nav__item {
  @include md {
    margin-left: 60px;
  }

  &:first-child {
    @include xl {
      margin-left: 0;
    }
  }
}

.store-nav__link {
  font-weight: 700;
  font-size: 15px;
  color: $link-color;
  text-decoration: none;
  word-break: break-all;

  transition: color $transition-time;

  &:hover,
  &:focus {
    color: $link-color--hover;

    outline: none;
  }

  &:active {
    color: $link-color--active;
  }
}
